H1 {
  color: #000080;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

#lgn {
  width: 100%;
  margin:auto;
  border: 1px solid gray;
}

#hdr {
  color: #bbbbbb;
  background: #dddddd;
  height: 28px;
}

#lgout {
  display: inline;
  float: right;
}

#fld {

    display: block;
    width:300px;
    height:300px;
    margin:auto;
    border: 1px solid gray;
}
