<html>
    <head>
        {% if title %}
            <title>{{ title }} - Libra</title>
        {% else %}
            <title>Welcome to Libra!</title>
        {% endif %}   
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"    href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
